.author {
	padding-left: 5px;
	font-size: 10px;
	color: #828282;
}
.date {
	margin-left: 5px;
	font-size: 10px;
	color: #828282;
}
.comment {
	margin-left: 5px;
	font-size: 10px;
	color: #828282;
}
.title {
	padding: 5px;
	a {
		color: black;
		text-decoration: none;
	}
};

.back {
	color: black;
	padding: 5px;
}
